html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.parallax-misija {
    /* The image used */
    background-image: url("../slike/misijaiciljevi.png");

    /* Set a specific height */
    width: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-timovi {
    /* The image used */
    background-image: url("../slike/timovi.png");
    /* Set a specific height */
    width: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-kontakt {
    /* The image used */
    background-image: url("../slike/kontakt.png");
    /* Set a specific height */
    width: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tim {
    background-color: #212121;
}

.navbar {
    display: none !important;
}

#nav {
    background-color: #212121;
    color: white;
    list-style: none;
    text-align: right;
    padding: 10px;
    vertical-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    height: 90px;
}


#nav>ul>li {
    display: inline-block;
    padding-right: 70px;
    font-size: 18px;
    padding-top: 15px;
}

#nav>ul>li>a {
    text-decoration: none;
    color: white;
}

#nav>ul>li>a:hover {
    color: #73246B;
    text-decoration-line: none;
}

#nav ul li a,
#nav ul li a:after,
#nav ul li a:before {
    transition: all .3s;
}

#nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #73246B;
    transition: width .3s;
}

#nav ul li a:hover::after {
    width: 100%;
    transition: width .3s;
}

#nav>img {
    float: left;
    margin-left: 100px;
    cursor: pointer;
}

#o-nama {
    background-color: #212121;
    color: #606161;
    padding: 60px 0;

}

#naslov-o-nama {
    color: white;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.text-o-nama {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}

#containerPictures h2 {
    text-align: center;
    color: #73246b;
}

#containerCounters {
    color: #73246b;
    flex-wrap: nowrap;
    display: inline-block;
    clear: both;
    padding: 30px;
    justify-content: center;
}

.comitee {
    height: 150px;
    width: 150px;
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    color: #73246b;

}

.members {
    height: 150px;
    width: 150px;
    flex-wrap: nowrap;
    display: inline-block;
    text-align: center;
    color: #73246b;

}

.teams {
    height: 150px;
    width: 150px;
    flex-wrap: nowrap;
    text-align: center;
    display: inline-block;
    color: #73246b;

}

#containerInfo {
    width: 100%;
    height: auto;

}

#broj {
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

footer {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 12px;
}


#misijaiciljevi {

    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 22px;
}

.centar {
    justify-content: center;
    padding-bottom: 20px;
}

#misija {
    padding-top: 30px;
    float: left;
    color: white;
}

#ciljevi {
    padding-top: 30px;
    color: white;
    float: right;
}

.naslov-h2 {
    font-size: 40px;
    padding-top: 30px;
}

#fontv {
    color: #333;
    padding: 20px;
    font-size: 20px;
}

.fontv-logo {
    max-width: 350px;
}

#kartice {
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 50px;
    border: 0;
}

iframe {
    height: 450px;
    width: 100%;
}

#kontakt {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 30px;
}

.social {
    padding-top: 10px;
    font-size: 40px;
}

.social i {
    padding-right: 8px;
    padding-left: 8px;
}

.social .fa-instagram {
    padding-right: 0 !important;
}

.social a {
    color: white;
}

.social a:hover {
    color: gray;
}

.footer {}

footer .cr {
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    color: white;
}

.org-cr {
    background-color: #212121;
}

.prvi-red {
    padding-bottom: 20px;
}

.uo {
    color: white;
    overflow: hidden;
    background-color: #333;
    padding-bottom: 50px;
    padding-top: 50px;
    border: 0;
}

.uo h2 {
    padding-bottom: 20px;
}

/* .flip-container {
    perspective: 1000px;
} */

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
    transform-origin: 50%;
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 320px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    margin-top: 60px;
    position: relative;
}

.f1,
.f2,
.f3 {
    margin-top: 30px;
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);

}

#slika {
    height: 450px;
}




#myCarousel {
    max-width: 100%;
}

.container img {
    max-width: 100%;
}

#organizacija {
    width: 100%;
}

#projekti {
    padding-top: 50px;
}

.beli-tekst {
    color: white;
    padding-bottom: 20px;
}

#map {
    height: 400px;
}

#rec {
    padding-top: 50px;
    padding-bottom: 70px;
}

#rec img {
    max-width: 300px;
}

#rec .col {
    padding-top: 10px;
}

.titule {
    color: rgb(115, 36, 107);
}

.naziv {
    color: #333;
}

.italic {
    font-style: italic;
}

.david {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nakonslike {
    padding-top: 340px;
}

#uo {
    padding-bottom: 50px;
}

.uo-naziv {
    font-size: 22px;
    color: white;
}

.uo-titula {
    font-size: 19px;
    color: #73246b;
}

a button {
    padding: 10px;
    margin: 5px;
    border: 2px solid #73246B;
    background-color: white;
    border-radius: 50px 20px;
    text-decoration: none;
    color: #333;
}

a:hover button {
    background-color: #73246B;
    padding: 10px;
    margin: 5px;
    border: 2px solid #73246B;
    color: white;
}

.siva {
    background-color: #212121;
    padding-top: 50px;
}

.siva-20 {
    font-size: 20px;
    color: rgb(85, 84, 84);
}

.slika-projekta img {
    max-width: 100%;
    width: 100%;
}

.uo-slika {
    max-width: 250px;
}

@media only screen and (max-width: 768px) {

    .navbar {
        border: 0;
        display: block !important;
        color: white !important;
    }

    .navbar button {
        padding-top: 20px;
    }

    .first-button {
        padding-top: 50px;
        float: right;
    }

    .nav-item a {
        color: white;
        font-size: 20px;
    }

    .nav-item a:hover {
        color: rgb(190, 190, 190) !important;
        font-size: 20px;
        border: 0;
        text-decoration: none;
    }

    button {
        padding-top: 30px;
        outline: none;
    }

    #nav {
        display: none;
    }

    #slika {
        height: 150px;
    }

    #animacija {
        max-width: 150px;
        max-height: 150px;
        padding-top: 0;
        margin: 0;
        padding-bottom: 100%;
    }

    .topnav {
        display: flex;
        overflow: hidden;
        background-color: #333;
        position: relative;
        padding-bottom: 10px;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        text-decoration: none;
        font-size: 30px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        color: rgb(122, 122, 122);
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgb(150, 150, 150);
        color: white;
    }

    .projekti .clanovi-slika {
        width: 300px;
    }

    #fontv img {
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 350px;
    }

}

button {
    outline: none;
}

.nav-item {
    padding: 3px;
}

.nav-item a:hover {
    background-color: #333;
}

.navbar-nav {
    color: white;
}

.navbar {
    background-color: #212121;
    text-decoration: none;
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.collapse {
    background-color: #212121;
}

.animated-icon1 span {
    background: #ffffff;
}

.animated-icon2 span {
    background: #ffffff;
}

.animated-icon3 span {
    background: rgb(255, 255, 255);
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

.bela{
    background-color: white;
    padding: 30px;
}