html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#tim{
    background-color: #212121;
}

.topnav {
    display: none;
}

#nav {
    background-color: #212121;
    color: white;
    list-style: none;
    text-align: right;
    padding: 10px;
    vertical-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    height:90px;
}


#nav>ul>li {
    display: inline-block;
    padding-right: 70px;
    font-size: 18px;
    padding-top: 15px;
}

#nav>ul>li>a {
    text-decoration: none;
    color: white;
}

#nav>ul>li>a:hover {
    color: #73246B;
    text-decoration-line: none;
}

#nav ul li a,
#nav ul li a:after,
#nav ul li a:before {
    transition: all .3s;
}

#nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #73246B;
    transition: width .3s;
}

#nav ul li a:hover::after {
    width: 100%;
    transition: width .3s;
}

#nav>img {
    float: left;
    margin-left: 100px;
    cursor: pointer;
}

#o-nama {
    background-color: #212121;
    color: #606161;
    padding: 60px 0;

}

#naslov-o-nama {
    color: white;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.text-o-nama {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}

#containerPictures h2 {
    text-align: center;
    color: #73246b;
}

#containerCounters {
    color: #73246b;
    flex-wrap: nowrap;
    display: inline-block;
    clear: both;
    padding: 30px;
    justify-content: center;
}

.comitee {
    height: 150px;
    width: 150px;
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    color: #73246b;

}

.members {
    height: 150px;
    width: 150px;
    flex-wrap: nowrap;
    display: inline-block;
    text-align: center;
    color: #73246b;

}

.teams {
    height: 150px;
    width: 150px;
    flex-wrap: nowrap;
    text-align: center;
    display: inline-block;
    color: #73246b;

}

#containerInfo {
    width: 100%;
    height: auto;

}

#broj {
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

footer {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 12px;
}


#misijaiciljevi {

    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background:url("../slike/misijaiciljevi.png");
    background-size: 100% 100%;


}

#misija {
    padding-top: 30px;
    float: left;
    color:white;
}

#ciljevi {
    padding-top: 30px;
    color: white;
    float: right;
}

#zasto {
    padding-top: 30px;
    background: #dbdde0;
    overflow: hidden;
    clear: both;
    margin-bottom: 30px;
}

.zastosafon {
    text-align: center;
    height: 280px;
    color: #73246b;
}

.projekti .clanovi-slika img {
    width: 500px;
    padding-top: 20px;
}

.projekti-tekst {
    float: right;
    color: #73246b;
    text-align: center;
}

#fontv {
    text-align: center;
    color: #73246b;
    padding: 20px;
}

#kartice {
    overflow: hidden;
    background: url("../slike/timovi.png") no-repeat;
    background-size: 100% 100%;

    padding-bottom: 50px;
    padding-top: 50px;
    border: 0;
}

#kartice h2 {
    text-align: center;
    color: #73246b;
    font-size: 30px;
    padding-bottom: 20px;
}

iframe {
    height: 450px;
    width: 100%;
}

#kontakt {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 30px;
}

.social {
    padding-top: 10px;
    font-size: 40px;
}

.social i {
    padding-right: 8px;
    padding-left: 8px;
}

.social .fa-instagram {
    padding-right: 0 !important;
}

.social a {
    color: white;
}

.social a:hover {
    color: gray;
}

.footer{

}

footer .cr {
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    color:white;
}

.org-cr{
    background-color: #212121;
}

.prvi-red {
    padding-bottom: 20px;
}

.uo{
    color:white;
    overflow: hidden;
    background-color: #73246b;
    padding-bottom: 50px;
    padding-top: 50px;
    border: 0;
}

.uo h2{
    padding-bottom: 20px;
}

/* .flip-container {
    perspective: 1000px;
} */

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
    transform-origin: 50%;
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);

}

#slika{
    height: 450px;
}

@media only screen and (max-width: 800px) {
    #nav {
        display: none;
    }

    #slika{
        height: 150px;
    }

    #animacija {
        max-width: 150px;
        max-height: 150px;
        padding-top: 0;
        margin: 0;
        padding-bottom: 100%;
    }

    .topnav {
        display: flex;
        overflow: hidden;
        background-color: #333;
        position: relative;
        padding-bottom: 10px;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        text-decoration: none;
        font-size: 30px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        color: rgb(115, 36, 107);
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: rgb(115, 36, 107);
        color: white;
    }

    .projekti .clanovi-slika {
        width: 300px;
    }

    #fontv img {
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 350px;
    }

}

/* Slideshow container */
.container {
    margin: 0;
    position: relative;
   height:100%;
    width:100%;
}

#myCarousel{
    max-width: 100%;
    width:100%;
}

.container img{
    height:100%;
    width:100%;
    max-width:100%;
}

#organizacija{
    height:720px;
    width:100%;

}

#kontakt{
    background: url("../slike/kontakt.png") no-repeat;
    background-size: 100% 100%;
}

#map{
    height:300px;
}




